<ion-view>
  <ion-content class="padding">
    <h2>Welcome Manager</h2>
    <div class="button-bar">
      <a class="button button-outline button-positive" href="#/studentDetails">Student Details</a>
      <a class="button button-outline button-positive">Payment Details</a>
    </div>
    <div class="button-bar">
      <a class="button button-outline button-positive" href="#/educationProgram">Education Program</a>
      <a class="button button-outline button-positive">Sync Data to Server</a>
    </div>
  </ion-content>
</ion-view>
