<ion-content class="padding">
	<h2 class="centeralign">All Payment List</h2>
	<div class="button-bar">
		<a class="button button-outline button-positive" 
		 href="" ng-click="showSchoolPayments('pre')">Pre School</a>
		<a class="button button-outline button-positive" 
		 href="" ng-click="showSchoolPayments('after')">After School</a>
	</div>


	<div class="list list-inset">
		<div class="item item-divider">
			{{studentCategory | uppercase}} School Students
		</div>
		<div ng-repeat="student in studentList | filter:{ classCategory: studentCategory }" 
			 ng-if="selected" 
		class="item item-avatar item-text-wrap">
			<img ng-src="{{student.image}}" alt="student">
			<h2><strong>{{student.studentName}}</strong></h2>
			<h4><strong>Level: {{student.level}}</strong></h4>
			<!--<p>Tuition Fees:- {{student.tuitionFees | currency : "Rs. "}}</p>-->
			<p><strong>Total Fees Paid: </strong>{{categoryPaymentDetails[$index].totalFeesPaid | currency : "Rs. " }}</p>
			<button class="button button-small button-positive" ng-click="addFeesModal(student)">Add Fees</button>
			<button class="button button-small button-positive" ng-click="showInstallmentsDetails(student, categoryPaymentDetails[$index])">Installments</button>
		</div>
	</div>

</ion-content>
