<ion-content class="padding">
  <button class="button button-full button-positive item item-icon-left" ng-click="clickStudentDetails()">
    <img src="./img/student.png">
    Student Details
  </button>
  <button class="button button-full button-positive item item-icon-left" ng-click="clickEducationProgram()">
    <img src="./img/center.png">
    Education Program
  </button>
  <button class="button button-full button-positive item item-icon-left" ng-click="clickPaymentDetails()">
    <img src="./img/payment.png">
    Payment Details
  </button>
</ion-content>
