<ion-content class="padding">
  <button class="button button-full button-positive item item-icon-left" ng-click="clickAttendance()">
    <img src="./img/student.png">
    Attendance
  </button>
  <button class="button button-full button-positive item item-icon-left" ng-click="clickActivities()">
    <img src="./img/center.png">
    Activities
  </button>
  <button class="button button-full button-positive item item-icon-left" ng-click="clickAssessment()">
    <img src="./img/payment.png">
    Assessment
  </button>
</ion-content>
